/* Site Stylesheet
  1. NAV BAR 
 
  10.FOOTER 
  11.MediasQueries 
======================================== */

:root{
    --clr-primary: rgb(54,112,199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99,36,36);
    --blue:    #0d6efd;
     --indigo:  #6610f2;
     --purple:  #6f42c1;
     --pink:    #d63384;
     --red:     #dc3545;
     --orange:  #fd7e14;
     --yellow:  #ffc107;
     --green:   #198754;
     --teal:    #20c997;
     --cyan:    #0dcaf0;
     --white:    #fff;
     --gray-100: #f8f9fa;
     --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black:    #000;
    
 
 
 }
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.d-flex input{
    margin: 2em 0em;
}

.d-flex button{
    margin: 1.5em .6em;
    padding: 0.3em  2.4em;
  
}

.container table{
    margin: 1em 10em;
    
}

table .btnedit{
    color: lightgreen;
    cursor: pointer;
}



table .btndelete{
    color: tomato;
    cursor: pointer;

    
}

.table-row{
    flex: 1;
    width: 100%;
}










