/* Site Stylesheet
  1. NAV BAR 
 
  10.FOOTER 
  11.MediasQueries 
======================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.d-flex input{
    margin: 2em 0em;
}

.d-flex button{
    margin: 1.5em .6em;
    padding: 0.3em  2.4em;
  
}

.container table{
    margin: 1em 10em;
    
}

table .btnedit{
    color: lightgreen;
    cursor: pointer;
}



table .btndelete{
    color: tomato;
    cursor: pointer;

    
}



